<ion-header>
  <ion-toolbar>
    <ion-title>Cartão de Identificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="assets/20250728_105901.jpg" alt="Minha Foto" />
    <ion-card-header>
      <ion-card-title>Jean Silva Aragão</ion-card-title>
      <ion-card-subtitle>Código da turma: 24104305</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-button expand="full" routerLink="/sobre">
    Ir para Sobre
  </ion-button>
</ion-content>

